body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 100px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    padding: 5px;
}

.todo-inout-div, footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.task-input {
    padding: 10px;
    width: 400px;
    margin-right: 10px;
}

.date-input {
    padding: 10px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    font-style: italic;
}

.list-cont {
    padding: 100px;
    align-items: center;
}

ol{
    background-color: rgba(229, 219, 219, 0.642);
    padding: 50px;
    border-bottom-right-radius: 50px;
}

ol li{
    border-bottom: 1px solid black;
}

.list-header {
    background-color: rgb(250, 214, 214);

}

.list-header .h {
    padding-left: 50px;
}

.list, .list-header {
    display: grid;
    grid-template-columns: 50% 30% 20%;
}

.button-div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.delete {
    background-color: #f44336;
}
.delete:hover {
    background-color: #d32f2f;
}

.edit {
    background-color: rgba(64, 64, 241, 0.801);
}
.edit:hover {
    background-color: blue;
}

.note-div {
    background-color: rgba(0, 0, 0, 0.82);
    color: white;
    padding: 0 20px;
    border-radius: 20px;
}

.edit-form{
    grid-template-columns: 3fr 2fr 1fr;
}

.edit-task-input{
    padding: 10px;
}

.edit-date-input {
    padding: 10px;
}